.btn {
    display: block;
    @include font_style;
    font-size: medium;
    font-weight: bold;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 1px $font-color;
    border-radius:2px;
    transition: all 0.3s;
    &:hover {
        cursor: pointer;
        color: $primary-color;
    }
}