.form {
    @include base_style_div;
    @include center;
    & textarea {
        @include font_style;
    }
    & input, label {
        display: block;
        @include font_style;
    }
    & input {
        width: 100%;
        height: 35px;
    }
    & label {
        font-weight: bold;
    }
    & .helptext, ul {
        color: $primary-color;
        font-size: small;
    }
}

.form__search {
    @include center;
    & input {
        display: block;
        width: 100%;
        height: 35px;
    }
}