.col-25 {
    width: 25%;
}

.main {
    @include center;
    flex: 0 0 60%;
}
.container__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container__feed {
    width: 100%;
    margin-bottom: 20px;
    @include base_style_div;
    h2, h3 {
        text-align: center;
    }
    .photo {
        max-width: 130px;
        border: solid 2px $primary-color;
    }
    .description {
        padding-left: 10px;
    }
    .photo-description, .user-date {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .fa-star {
        color: $primary-color;
    }
}

.user-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
