.logo {
    display: inline-block;
    width: 80px;
    height: 80px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header {
        &__right {
            width: 25%;
        }
        &__center {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        &__left {
            width: 25%;
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-start;
            justify-content: space-between;
        }
    }

}

